{% extends 'blog/base.html' %}
{% block title %}{{ category.name }}{% endblock %}
{% block content %}
<h1>{{ category.name }}</h1>
<h2>Посты в категории:</h2>
{% for post in category.post_set.all %}
<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title"><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h5>
        <p class="card-text">{{ post.text|truncatewords:20 }}</p>
    </div>
</div>
{% empty %}
<p>Нет постов в этой категории.</p>
{% endfor %}
<a href="{% url 'category_list' %}" class="btn btn-secondary">Назад к списку</a>
{% endblock %}